<%- include partials/header.ejs %>

    <h1 class="text-center"><%= title %></h1>
    <div class="container">
    <p class="jumbotron"><%= message %></p>
    </div>    
    <div class="inverse"><a href="/auth/login" title="Login">Login</a> or <a href="/auth/register" title="Register">Register</a></div>
    
    
  </body>
  <%- include partials/footer.ejs %>
</html>
